@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Echeverría 738 (B1603CXP)<br />
    Florida Oeste, Bs. As. – Argentina<br />
    <abbr title="Phone">P:</abbr>
    +54 9 11 62926913 
</address>

<address>
    <strong>AROUND:</strong>   <a href="mailto:crosales@we-are-around.com">crosales@we-are-around.com</a><br />
    <strong>Personal:</strong> <a href="mailto:carlosjrr@hotmail.com">carlosjrr@hotmail.com</a>
</address>