@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Description</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut ultricies felis. Nunc fringilla placerat massa sit amet mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse pharetra in metus id consequat. Sed justo nisi, mollis sit amet tellus ut, elementum pellentesque est. Duis gravida enim non elit faucibus auctor. Nullam gravida nunc at quam fringilla luctus. Phasellus id dapibus enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Duis maximus nibh est, ut tristique mi interdum eu. Sed convallis commodo iaculis. Aenean aliquet risus eu ex feugiat, sit amet tincidunt neque volutpat. Duis pharetra purus eget tortor tincidunt, ut elementum tortor sollicitudin. Aliquam erat volutpat. Etiam et facilisis sem. Integer dolor dolor, accumsan pellentesque fringilla ac, semper vitae ligula. Suspendisse viverra placerat arcu, et consequat leo malesuada nec. Sed sed congue tortor. Fusce quis suscipit ipsum. Integer elementum metus nisi, quis tincidunt massa consectetur a. Duis urna tortor, dignissim eu elementum laoreet, cursus semper velit.
            Maecenas nibh sem, cursus non est eu, auctor elementum mauris. Vestibulum nec libero nec nisl efficitur suscipit ut in metus. Sed eu arcu luctus, sodales risus eu, rhoncus ante. Sed sit amet mi blandit, dictum odio ac, volutpat massa. Nam pharetra eleifend risus, nec consequat mi elementum quis. In sit amet ipsum leo. Morbi luctus tempus bibendum.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Example 1</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut ultricies felis. Nunc fringilla placerat massa sit amet mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse pharetra in metus id consequat. Sed justo nisi, mollis sit amet tellus ut, elementum pellentesque est. Duis gravida enim non elit faucibus auctor. Nullam gravida nunc at quam fringilla luctus. Phasellus id dapibus enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Duis maximus nibh est, ut tristique mi interdum eu. Sed convallis commodo iaculis. Aenean aliquet risus eu ex feugiat, sit amet tincidunt neque volutpat. Duis pharetra purus eget tortor tincidunt, ut elementum tortor sollicitudin. Aliquam erat volutpat. Etiam et facilisis sem. Integer dolor dolor, accumsan pellentesque fringilla ac, semper vitae ligula. Suspendisse viverra placerat arcu, et consequat leo malesuada nec. Sed sed congue tortor. Fusce quis suscipit ipsum. Integer elementum metus nisi, quis tincidunt massa consectetur a. Duis urna tortor, dignissim eu elementum laoreet, cursus semper velit.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Example 2</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut ultricies felis. Nunc fringilla placerat massa sit amet mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse pharetra in metus id consequat. Sed justo nisi, mollis sit amet tellus ut, elementum pellentesque est. Duis gravida enim non elit faucibus auctor. Nullam gravida nunc at quam fringilla luctus. Phasellus id dapibus enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Example 3</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut ultricies felis. Nunc fringilla placerat massa sit amet mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse pharetra in metus id consequat. Sed justo nisi, mollis sit amet tellus ut, elementum pellentesque est. Duis gravida enim non elit faucibus auctor. Nullam gravida nunc at quam fringilla luctus. Phasellus id dapibus enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    
</div>